@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg-image {
    background-image: url('./page/images/brand.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 24px;
    cursor: pointer;
}


.login-input {
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    width: 100%;
    padding: 5px 0px;
    line-height: 22px;
    margin-bottom: 20px;
    outline: none;
    height: 35px;
}

.login-button {
 width: 100%;
 color: #fff;
 background-color: #222;
 font-size: 16px;
 height: 52px;
 line-height: 50px;
 border-radius: 12px;
 font-weight: 600;
 letter-spacing: -.16px;
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

